@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: rgb(192, 247, 212,0.7);
  --lighter: rgb(74, 222, 128,0.5);
  --red: rgb(245, 45, 45,0.8);
  --blurship: rgb(0, 0, 0, 0.2);
  --whitesmoke: whitesmoke;
  --light-orange: #ffe5e5;
  --black: rgb(0,0,0);
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 1rem;
  gap: 2rem;
  background-color: var(--bg-color);
}

.container h1 {
  text-align: center;
}

.container .mode {
  text-align: center;
  font-size: 1rem;
}

.container .mode span {
 font-weight: 900;
}

.boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.boxContainer .box {
  border: 1px solid #ccc;
  width: 250px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: inset;
  background-color: var(--lighter);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px var(--blurship);
}

.boxContainer .box.high-risk {
  border: 1px solid orange;
  background-color: var(--light-orange);
}

.boxContainer .box.high-risk .statusBar h2{
  color: #ffe5e5;
}

.boxContainer .box.warning {
  border: 1px solid whitesmoke;
  background-color: var(--red);
  color: var(--whitesmoke);
}

.boxContainer .box.warning .statusBar h2{
  color: var(--red);
}

.boxContainer .box h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  
}

.boxContainer .box p {
  text-align: center;
  font-size: 1.6rem;
}

.statusBar h2 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--blurship);
}

.statusBar .redStatus {
  color: var(--red);
   text-shadow: 2px 8px 32px var(--blurship);
}

.statusBar .orangeStatus {
  color: orange;
  text-shadow: 2px 8px 32px var(--blurship);
}

.chart {
  margin: 0 60px;
}

.chart h2 {
  background-color: linear-gradient(
    90deg #111 0%,
    #111 40%,
    red 50%,
    #111 60%,
    #111 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: sweep 2s linear infinite;
}

@keyframes sweep {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
