@media (max-width: 600px){
   .chart{
  margin: 0 10px 10px 10px;
} 
}

@media (max-width: 450px){
    .container{
        font-size: 80%;
    }
    .boxContainer .box {
  width: 200px;
}
    .boxContainer .box h3,.boxContainer .box p{
  font-size: 1.2rem;
}

}